.globalBlock{
    display: flex;
    flex-direction: column;
}

.header{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 6vh;
    flex-wrap: nowrap;
    margin-top: 0.8vh;
}
.headerName{
    flex:2;
    /* background-color: red; */
    height: 6vh;
    font-size: 1.5em;
    font-family: 'Consolas';
    font-weight: 600;
    margin-left: 1.6vw;
    margin-top: 0.8vh;
    display: flex;
    flex-direction: row;
}
.headerAddBtn{
    height: 6vh;
    margin-top:1vh;
    margin-right: 1.6vw;
}

.tableGlobal{
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 20px;
    max-height: 52vh;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);    
}
.tableHead *{
    color:black !important;
    font-family: 'Consolas' !important;
    font-size: 1em !important;
    background-color: rgb(35, 115, 38);
}
.tableThLeft{
    border-radius: 20px 0 0 0;  
}
.tableThRight{
    border-radius: 0 20px 0 0;
}
.tableBlock{
    background-color: rgb(187, 204, 216);
    border-radius: 20px;
}
.tableBody *{
    font-family: 'Consolas';
    line-height: 1 !important;  
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    padding: 0.2em !important;
    text-align: center !important;
}
.tableTdLeftLast{
    border-radius: 0 0 0 20px;
}
.tableTdRightLast{
    border-radius: 0 0 20px 0;
}
.lastTr *{
    border-width: 0 !important;
}
.statusTd{
    padding: 0 !important;
    margin: 0 !important;
}
.statusImg{
    width: 1.8em;
    margin-left: 35%;
}
.sheduleLogFilterCloseBtn{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 1.7em;
    background-color: blueviolet;
    border-radius: 20px;
    font-size: 0.8em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: azure;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);   
    margin-left: 0.7em;
}
.sheduleFilterCloseImg{
    height: 1.3em;
    margin-left: 0.4em;
    margin-right: 0.1em;
}
.contToPicture{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.emptyLogsPicture{
   margin-top: 1.5em; 
   padding-right: 3em;
}